<% if session[:failure] %>
  <% session[:failure].each do |el|%>
    <div class="alert alert-warning" role="alert"><%= el %></div>
  <% end %>
  <% session.delete(:failure) %>
<% end %>

<div class="card custom-card mb-4">
  <div class="card-body">
    <form action="/entries/add"  method="post">
      <dl>

        <label for="entry">Submit your own entry (Note: phrase MUST be unique)</label><br><br>
        <div class="d-flex">
          <label for="phrase">Phrase
            <input id="phrase" name="new_phrase" placeholder="How are you?" type="text" value="<%= params[:new_phrase] %>"><br>
          </label><br>
          <label for="response">Response
            <input id="response" name="new_response" placeholder="Great, how are you?" type="text" value="<%= params[:new_response] %>">
          </label><br>
        </div>
      </dl>
      <fieldset class="actions">
        <div class="d-flex gap-3">
          <button class="btn custom-btn" type="submit">Add</button>
          <a class="btn custom-btn" href="/entries_page/0">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>