<form action="/add_entry"  method="post">
  <dl>
    <dt>
      <label for="todo">Submit your own entry</label><br><br>
      <label for="phrase">Phrase
        <input id="phrase" name="new_phrase" placeholder="" type="text" value=""><br>
      </label><br>
      <label for="response">Response
        <input id="response" name="new_response" type="text"
      </label><br>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>