<h2>Edit Note</h2>

<div class="card custom-card">
  <div class="card-body">
    <form action="/entries/<%= params[:entry_id] %>/notes/<%= params[:note_id] %>/edit" method="post">
      <dl>
        <dt>
          <label for="note">Edit note
          </label>
        </dt>
        <dd>
          <textarea style="max-width:100%;" rows="4" cols="50" name="note"><%= @note %>
            </textarea>
        </dd>
      </dl>
      <fieldset>
        <div class="d-flex gap-3">
          <button class="btn custom-btn" type="submit">Save</button>
          <a class="btn custom-btn" href="/entries/<%= params[:entry_id] %>/notes_page/0">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>