<h2>Edit Entry (Phrase must be unique)</h2>

<form action="/entries/<%= params[:id] %>/edit" method="post">
  <dl>
    <dt>
      <label for="phrase_name">--------Edit phrase name
      </label>
    </dt>
    <dd>
      <textarea name="phrase_name"><%= @phrase %>
        </textarea>
    </dd>
    <label for="response_name">--------Edit response name
      </label>
    <dd>
      <textarea name="response_name"><%= @entry_response %>
      </textarea>
    </dd>
  </dl>
  <fieldset>
    <input type="submit" value="Save">
    <a href="/entries/<%= params[:id] %>">Cancel</a>
  </fieldset>
</form>