<h2>Editing ...</h2>

<form action="/entries/<%= params[:id] %>/edit" method="post">
  <dl>
    <dt>
      <label for="phrase_name">--------Edit phrase name
      </label>
    </dt>
    <dd>

      <input name="phrase_name" value="<%= @phrase %>">
    </dd>
    <label for="response_name">--------Edit response name
      </label>
    <dd>
      <input name="response_name" value="<%= @entry_response %>">
    </dd>
  </dl>
  <fieldset>
    <input type="submit" value="Save">
    <a href="/entries/<%= params[:id] %>">Cancel</a>
  </fieldset>
</form>