<p>This your personal phrasebook for recording your favorite phrases! Use Add Entry to add a phrase/response pair, and select Edit/View to view your notes on that particular phrase</p>

<details>
    <summary>What is an Entry?</summary>
    <hr style="width:100%", size="3", color=black>

    <h2>Anatomy of an entry</h2>
    <p><strong>Phrase: </strong> This a small piece of text that we want the response to</p>
    <p><strong>Response: </strong>The response to the prior phrase</p>
    <p><strong>Notes: </strong> This is the response to the phrase in question</p>

    <hr style="width:100%", size="1", color=black>  
    <h3>Example:</h3>

    <p><strong>Phrase:</strong> How are you?</p>
    <p><strong>Optional Context:</strong> I'm a student saying this to a friend</p>
    <p><strong>Response:</strong> I'm doing well, and you?</p>

    <hr style="width:100%", size="3", color=black>  
  </details>

<br><br>

<a href='/entries/add'>Add Entry</a>
<p><%= session.delete(:failure) %></p><br>
<p><%= session.delete(:welcome) %></p><br>
<%= display_entries %>








