<h1>What to Say...</h1>
<h2>Description:</h2>
<p>The ultimate website for the appropriate responses in any situation. Have you ever wondered what the appropriate response to a simple phrase like "how are you" should be? You've came to the right place! This is a site that enables you to find and or request responses to any particular phrase</p>
<br>

<form action="/search" method="post">
  <h2>Enter a phrase for which you would like an appropriate response</h2>
  <input name="query"><br><br>
<button>Search</button>
</form>

<% if params[:query] %>
<%= binding.pry %>
  <p>Search results:</p>
  <%=  display_search(@query) %>
<% end %>
<br><br>

<form action="/new_post"  method="post">
  <dl>
    <dt>
      <label for="todo">Enter a phrase for which you would like an appropriate response to</label><br><br>
      <label for="stuff">Phrase
        <input id="stuff" name="new_phrase" placeholder="" type="text" value=""><br>
      </label>
      <label for="stuff2">Possible response
        <input id="stuff2" name="new_response" type="text" placeholder="Leave this empty if you are requesting a response only">
      </label>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>



