<% if session[:failure] %>
  <% session[:failure].each do |el|%>
    <p style="font-size:20px; color:red; font-weight:bold; font-style:italic;"><%= el %></p>
  <% end %>
  <% session.delete(:failure) %>
<% end %>

<form action="/users/signin"  method="post">
      <label for="username">Username
        <input id="username" name="username" placeholder="" type="text" value=<%= @user %>><br>
      </label>
      <label for="password">Password
        <input id="password" name="password" type="text" placeholder="" value="">
      </label><br>
    <input type="submit" value="Sign In">
</form>