*,
*::before,
*::after {
  box-sizing: border-box;
  }

body {
  margin: 0px;
}

.container {
  display:flex;
  justify-content: space-between;
  border: pink solid;
}

.notecard-container {
  display: flex;
  border: pink solid;
  flex-direction: column;
}

.notecard {
  border: pink solid;
}