@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  }

  :root {
    --color-white: white;
    --color-primary: #f2bb13;
    
  }

  body.body {
    background-color: rgb(34, 32, 32) !important;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

 /* https://www.toptal.com/designers/subtlepatterns/ */

.signin {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30px;
}

button.custom-btn,
a.custom-btn {
  margin-top: .75em;
  border-radius: 3rem;
}

button.custom-btn:hover {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

.mobile-nav-toggle {
	display: block;
	position: absolute;
	z-index: 2000;
	right: 1rem;
	top: 2rem;
	background: transparent;
	background-image: url(./assets/shared/icon-hamburger.svg);
	background-repeat: no-repeat;
	width: 1.5rem;
	aspect-ratio: 1;
	border:
	0;
}

.notecard-container {
  display: flex;
  border: pink solid;
  flex-direction: column;
}

.card>.card-body {
  background-color: hsl(227, 84%, 40%);
}

.cards-container.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn.btn-primary {
  background-color: red;
}