*,
*::before,
*::after {
  box-sizing: border-box;
  }

  /* https://www.toptal.com/designers/subtlepatterns/ */
  
.container {

}

.user-info-container {
  display:flex;
  justify-content: space-between;
}

.notecard-container {
  display: flex;
  border: pink solid;
  flex-direction: column;
}

.notecard {
}